.link-one {
}

.row {
  text-align: justify;
  text-decoration: none;
}

#basic-addon2 {
  background-color: #8064a2;
  color: white;
}

.icon-css {
  padding: 2%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ebedf0;
}

.link-one .link-two .link-three {
  font-size: 10px;
}
